@model SeniorProject.ViewModels.CoursePageListViewModel

@{
    var coursename = ViewData["CourseName"];
   
}
<h1 class="display-1 pb-5 mb-4" style="font: bold;">@coursename </h1>


<section class="mb-5"> <h4 class="display-5">Course Topics</h4>

    <table id="ta" class="table table-light table-hover">
        <thead>
            <tr>
                <th>
                    Week No.
                </th>
                <th>
                    Topic
                </th>
                <th>
                    Topic Details
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                try
                {
                    foreach (var item in Model.catalog)
                    {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.WeekNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.catalog_topic)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(m => item.details)
                                    </td>
                                    
                                    <td><form asp-action="DeleteTopicPost" asp-controller="CoursePage" method="post">
                                    <input  asp-for="@item.Id" value="@item.Id" type="hidden"/>
                                    <button class="btn btn-outline-danger" class type="submit" value="@item.Id">Delete</button>
                               

                                            </form>
                                    </td>
                                </tr>
                    }
                }
                catch (Exception)
                {
                            <h1>error</h1>

                }
            }
        </tbody>

    </table>
    
        <a asp-action="AddTopic"  type="button" class="btn btn-outline-success" asp-route-Course="@coursename">New Topic</a>

</section>

<section>
    <h4 class="display-5">
        Articulation Matrix</h1>


    <table id="tb" class="table table-light table-hover">
        <thead>
            <tr>
                <th>
                    Clo
                </th>
                <th>
                    LOD
                </th>
                <th>
                    SO
                </th>
                
                <th>
                    Assesing SO
                </th>
                <th>
                    In-Class Activites
                </th>
                <th>
                    Out-Class Activites
                </th>
                <th>
                    Assessment Tools
                </th>
                


                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                try
                {
                    foreach (var item in Model.Articulation)
                    {
                        var i = 0;
                                <tr>
                                    <td>
                                        @Html.DisplayFor(m => item.CLO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(m => item.LOD_Ref.LOD_Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(m => item.SO)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(m => item.Assessing_SO)
                                    </td>
                                    @{
                                //Must do double loop incase of more than 1 choice of the list

                                if (item.Activities[i].activity_Ref.activity_Type.Equals( "In-Class")){
                                             <td>
                                                @Html.DisplayFor(m => item.Activities[i].activity_Ref.Name)
                                            </td>
                                }else{

                                                    <td>
                                                       -
                                                    </td>
                                }                            
                                    }
                                    @{
                            if (item.Activities[i].activity_Ref.activity_Type.Equals("Out-Class"))
                            {
                                            <td>
                                                @Html.DisplayFor(m => item.Activities[i].activity_Ref.Name)
                                            </td>
                            }
                            else
                            {

                                            <td>
                                                -
                                            </td>
                            }
                                    }
                                    
                                    <td>
                                        @Html.DisplayFor(m => item.AssessmentTools[i].WeekNo)
                                    </td>

                                </tr>
                        i++;
                    }
                }
                catch (Exception)
                {
                            <h1>error</h1>

                }
            }
        </tbody>

    </table>



</section>
<section>Grade dist</section>
