@model SeniorProject.ViewModels.FacultyMembersListViewModel

@{
    ViewData["Title"] = "Admin";
}
<!--this is admin page list all users -->
<h1>Admin</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                AcademicID
            </th>
            <th>
                Name
            </th>
           
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{
    try
            {
                foreach (var item in Model.FacultyMembers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.AcademicID)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.Role)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new {  id = item.Id })
                        </td>

                    </tr>
                }
            }
            catch (Exception)
            {
                <h1>Errirr</h1>
                
            }
}
    </tbody>
</table>
