@model SeniorProject.ViewModels.TeachersCourseListViewModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Assign New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Instructor
            </th>
            <th>
                Course
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            try
            {
                foreach (var item in Model.teachersCourses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.teacher_Ref.teacher_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.course_Ref.course_Code)
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.SemesterStart)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.SemesterEnd)
                        </td><td>
                            @Html.DisplayFor(m => item.teacherCourse_Id)
                        </td>
                        <td>
                            
                            
                            @Html.ActionLink("Delete", "Delete1", new {  id = item.teacherCourse_Id },new {@class="btn btn-danger"})
                            
                        </td>

                    </tr>
                }
            }
            catch (Exception)
            {
                <h1>error</h1>

            }
        }
    </tbody>

</table>
