@model SeniorProject.ViewModels.TeachersCourseListViewModel

@{
    ViewData["Title"] = "List";
}

<br />

<h1>Instructor List</h1>
<hr id="line" />
<br />

<a asp-controller="Login" asp-action="AdminHome" class="btn btn-secondary">Admin Home</a>
<br />
<br />
<form asp-action="Search" method="get">
    <div class="row">
        <div class="col-8">
            <input asp-for="Query" class="form-control" />
        </div>
        <p class="col-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </p>

    </div>
</form>

<table class="table table-light table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Instructor
            </th>
            <th>
                Course
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            try
            {
                foreach (var item in Model.teachersCourses)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.teacher_Ref.teacher_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.course_Ref.course_Code)
                        </td>

                        <td>
                            @Html.DisplayFor(m => item.SemesterStart)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.SemesterEnd)
                        </td>
                        <td>

                            @Html.ActionLink("Delete", "Delete", new {  id = item.teacherCourse_Id },new {@class="btn btn-danger"})
                        </td>

                    </tr>
                }
            }
            catch (Exception)
            {
                <h1>Somthing went wrong</h1>

            }
        }
    </tbody>

</table>

<style>
    #line {
        width: 20%;
        opacity: 50%;
        color: #717970;
        height: 2px;
    }
</style>

<a asp-action="Create" class="btn btn-primary col-md-12">Assign New</a>



