@model IEnumerable<SeniorProject.Models.ArticulationMatrix>

@{
    ViewData["Title"] = "ArticulationMatrixList";
}

<h1>ArticulationMatrixList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CLO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assessing_SO)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CLO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assessing_SO)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
